.layoutRoot { padding: 0; gap: 0; }
.layoutRoot .postImage { flex: 1; width: 100%; background-color: var(--ig-image-bg); position: relative; overflow: hidden; }
.layoutRoot .contentBox { flex: 1; border: none; border-radius: 0; padding: 48px 64px 0 64px; justify-content: flex-start; }
.layoutRoot .contentBox > :first-child { margin-top: auto; }
.layoutRoot .contentBox > :last-child { margin-bottom: auto; }
.layoutRoot .postFooter { position: relative; padding: 24px 64px 48px 64px; bottom: 0; left: 0; right: 0; }